
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='/stylesheets/styleRegister.css')
		title Document
	body
		main
			h1
				| Вход в личный кабинет
			p Ваш Email
			input(id='user_email' type='text' name='email')
			p Пароль
			input(id='user_password' type='text' name='name')
			button
				| Войти
			a(href='register') Регистрация
script(src="/javascripts/auth-client.js") 
