extends index 

block baner
    .banner
        img(src='unsplash_cE8cwN2A2-c.png' alt='')
        div
            h1
            | У Вас остались вопросы?
             h2
            | Хотите, перезвоним вам за 27 секунд?
            .input
                input#telNo(name='telNo' type='tel' placeholder='+380 -- --- -- --')
                button Жду звонка
