head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/accountStyle.css')
  title Document
nav
  img#logo(src='/img/Callmar 1 1.png' alt='')
  button
    | &Zcy;&vcy;&ocy;&ncy;&kcy;&icy;
  button
    | &Vcy;&icy;&dcy;&zhcy;&iecy;&tcy;&ycy;
  button
    | &Scy;&tcy;&acy;&tcy;&icy;&scy;&tcy;&icy;&kcy;&acy;
main
  .head
    p
      span#email=email
    button &Vcy;&ycy;&jcy;&tcy;&icy;
  .time_to_end
    p
      | &Ocy;&scy;&tcy;&acy;&lcy;&ocy;&scy;&softcy; 
      span#minutes=minutes &mcy;&icy;&ncy;
      |  &dcy;&ocy; 
      span#date=date 
    button &Ocy;&pcy;&lcy;&acy;&tcy;&icy;&tcy;&softcy;
  #your_tarif
    h1
      | &Vcy;&acy;&shcy; &tcy;&acy;&rcy;&icy;&fcy; &icy;&scy;&tcy;&iocy;&kcy;
    button
      | &Pcy;&iecy;&rcy;&iecy;&jcy;&tcy;&icy; &kcy; &ocy;&pcy;&lcy;&acy;&tcy;&iecy;
  .filters
    h1
      | &Zcy;&vcy;&ocy;&ncy;&kcy;&icy;
    input#date_filter(type='date' name='')
    button#today
      | &Scy;&iecy;&gcy;&ocy;&dcy;&ncy;&yacy;
    button#yesturday
      | &Vcy;&chcy;&iecy;&rcy;&acy;
    button#last_week
      | &Ncy;&iecy;&dcy;&iecy;&lcy;&yacy;
    button#update
      | &Ocy;&bcy;&ncy;&ocy;&vcy;&icy;&tcy;&softcy;
    select#vidgets(name='')
      option(value='all_vidgets') &Vcy;&scy;&iecy; &vcy;&icy;&dcy;&zhcy;&iecy;&tcy;&ycy;
  #tables
    #names_column
      p &numero;
      p &Scy;&acy;&jcy;&tcy;
      p &Dcy;&acy;&tcy;&acy; &zcy;&vcy;&ocy;&ncy;&kcy;&acy;
      p &Vcy;&rcy;&iecy;&mcy;&yacy; &zcy;&vcy;&ocy;&ncy;&kcy;&acy;
      p &Ncy;&ocy;&mcy;&iecy;&rcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy;
      p &Ncy;&ocy;&mcy;&iecy;&rcy; &mcy;&iecy;&ncy;&iecy;&dcy;&zhcy;&iecy;&rcy;&acy;
      p &Icy;&scy;&tcy;&ocy;&chcy;&ncy;&icy;&kcy;
    #columns
